.col2-set.addresses {
    display: flex;
    flex-wrap: wrap;
}

.edit_profile_custom .custom-input {
    padding-bottom: 20px;
    border: none;
}

.edit_profile_custom .custom-input:focus {
    outline: none;
}

.tinv-wishlist-clear .icon.icon--close-thick {
    fill: red;
}

.edit_profile_custom form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.billing_custom {
    display: flex;
    flex-wrap: wrap;
}

.billing_custom .input-text {
    padding-bottom: 20px;
}

.address-line {
    background-image: none;
    border-left: 2px dotted;
}

.trans .icon.icon--arrow-long-right {
    height: 20px;
}

.max-12cols-g {
    padding-top: 200px;
}

.header__items .color--white,
.header__items .icon.icon--user {
    color: #000;
}

.burger__line {
    background-color: #000;
}

.header {
    background: #fff;
    height: 90px;
}

.woof_submit_search_form_container {
    display: flex;
    justify-content: center;
}

@media all and (min-width: 340px) {
    .set_circle_btn {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 62%;
        transform: translate(-50%, 0px);
    }
}

@media all and (min-width: 1199px) {
    .set_circle_btn {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 56%;
        transform: translate(-50%, 0px);
    }
}